
    apiKey: "AIzaSyDUIngXq4cj7XMx6RSOEiNj-aWSjhk0FZ4",
    authDomain: "lalajo-bokep.firebaseapp.com",
    projectId: "lalajo-bokep",
    storageBucket: "lalajo-bokep.firebasestorage.app",
    messagingSenderId: "243575604544",
    appId: "1:243575604544:web:5c161c68407947a0b8e6a5",
    measurementId: "G-QMRXFDSLDN"