<div id="myCarousel" class="rounded-3 carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item rounded-3 active">
      <img src="{{site.baseurl}}/assets/images/normad.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="rounded-3 carousel-item">
      <img src="{{site.baseurl}}/assets/images/jan-spin.png" class="rounded-3 d-block w-100" alt="...">
    </div>
    <div class="rounded-3 carousel-item">
      <img src="{{site.baseurl}}/assets/images/hacksaw-le.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <script>
const myCarouselElement = document.querySelector('#myCarousel')

const carousel = new bootstrap.Carousel(myCarouselElement, {
  interval: 2000,
  touch: false
})
  </script>
