.container-post {
  max-widht: 910px;
  width: 100%;
  margin: auto;
  padding: 20px;
@include mobile {
  
}
}
.post_contain {
  display: grid;
  grid-template-colomns: 1fr 1fr 1fr;
  grid-gap: 10px;
@include mobile {
  grid-template-colomns: 1fr 1fr;
  grid-gap: 20px;
}
  .grid_contain {
   max-widht: 300px;
   widht: 100%;
   .img_contain {
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
@include mobile {
  width: 200px;
}
  }
 }
}