.container-post {
  max-width: 1024px;
  width: 100%;
  margin: auto;
  padding: 20px;
@include mobile {
  
}

.post_contain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
@include mobile {
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}
  .grid_contain {
   max-width: 300px;
   width: 100%;
   border-radius: 12px;
   overflow: hidden;
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   .img_contain {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    overflow: hidden;
@include mobile {
  width: 100%;}
  }
 }
.grid_body { 
  position: absolute;
  text-align: center;
  background: #000;
  height: 40px;
 .grid_title { 
   margin: auto;
   font-size: 16px;
   color: #fff;
  }
 }
}
}
