.container-post {
  width: 100%;
  margin: auto;
}
.post_contain {
  display: grid;
  grid-template-colomns: 1fr 1fr 1fr;
  grid-gap: 10px;
@include mobile {
  grid-template-colomns: 1fr 1fr;
  grid-gap: 20px;
}
  .grid_contain {
   max-widht: 300px;
   widht: 100%;
   .img_contain {
    width: 300px;
@include mobile {
  width: 200px;
}
  }
 }
}