.main-container {
  width: 1200px;
  margin: 80px auto;
@include mobile { margin: 80px 0 !important; }
}

.grid-post {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 10px;
     @include mobile { grid-template-columns: 1fr 1fr; grid-gap: 8px; }
 }