.main-container {
  width: 100%;
  margin: 80px 40px;
@include mobile { margin 80px 0: !important; }
}

.grid-post {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
     @include mobile { grid-template-columns: 1fr 1fr; }
 }